apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    app: api
    tier: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
        tier: backend
    spec:
      containers:
      - name: api
        image: naftali96/week16:v17
        ports:
        - containerPort: 8000
        env:
        - name: MONGO_HOST
          value: mongo-0.mongo
        - name: MONGO_PORT
          value: "27017"