apiVersion: v1
kind: Service
metadata:
  name: api-svc
  labels:
    app: api-svc
    tier: database
spec:
  type: NodePort
  selector:
    app: api
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30011